<nav class="nav__list">
  <h3 class="nav__title">카테고리</h3>
  <ul class="nav__items">
    {% assign total_posts = site.posts | size %}
    <li>
      <a href="/posts/">
        <span class="nav__sub-title">전체 게시물</span>
        <span class="nav__sub-title-count">({{ total_posts }})</span>
      </a>
    </li>

    {% assign categories_sorted = site.categories | sort %}
    {% for category in categories_sorted %}
      <li>
        <a href="/categories/{{ category[0] }}/">
          <span class="nav__sub-title">{{ category[0] }}</span>
          <span class="nav__sub-title-count">({{ category[1].size }})</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
