---
layout: archive
---

{{ content }}

<div style="margin-bottom: 30px;">
  <h2>카테고리</h2>
  <ul class="taxonomy__index">
    {% assign categories_sorted = site.categories | sort %}
    {% assign total_posts = site.posts | size %}
    <li>
      <a href="/posts/">
        <strong>전체 게시물</strong> <span class="taxonomy__count">({{ total_posts }})</span>
      </a>
    </li>
    {% for category in categories_sorted %}
      <li>
        <a href="/categories/{{ category[0] }}/">
          <strong>{{ category[0] }}</strong> <span class="taxonomy__count">({{ category[1].size }})</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<h2>최근 게시물</h2>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in site.posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
